/assets/priv/
/assets/node_modules
/assets/dist/
/assets/npm-debug.log
/assets/yarn-debug.log
/assets/yarn-error.log
/assets/.sass-cache
/assets/.tern-port
/priv/static/
/_build
/cover
/deps
/config/prod.secret.exs
/.elixir_ls/
erl_crash.dump
*.ez
*.beam
