/* This file is for your main application css. */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../node_modules/nprogress/nprogress.css";
@import "./autocomplete.css";
@import "./liveview.css";

@layer base {
  html {
    text-rendering: optimizeLegibility;
  }

  body {
    color: rgb(74, 74, 74);
  }

  main {
    padding-top: 3rem;
  }
}

@layer components {
  .scroller {
    scrollbar-width: thin;
  }

  .wrapper {
    @apply px-2 max-w-7xl mx-auto
  }

  .btn {
    @apply inline-block font-semibold py-2 px-4;
  }

  .btn-primary {
    @apply bg-indigo-700 text-white;
  }

  .table {
    @apply text-title divide-y divide-solid divide-gray-300;
    th {
      @apply px-2 py-1 font-semibold align-top cursor-pointer;
    }
    tbody {
      tr:nth-child(odd) {
        @apply bg-highlight;
      }
      tr { @apply align-top hover:bg-gray-200}
      td {
        @apply px-2 md:py-1 border-b border-gray-300;
      }
      tr:last-child {
        td {
        @apply border-0
        }
      }
    }
  }
}
