/* This file is for your main application css. */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../node_modules/nprogress/nprogress.css";
/* @import "./autocomplete.css"; */
@import "./liveview.css";

@layer base {
  html {
    text-rendering: optimizeLegibility;
  }

  body {
    color: rgb(74, 74, 74);
  }

  .shell {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
  }

  .nav { display: grid; grid-template-columns: auto 1fr auto; }

  iframe { display: none; }

  main { @apply py-2 }

  .max-w-98vw { max-width: 98vw; }
  .max-h-75vh { max-height: 75vh; }
  .max-h-resp { max-height: calc(100vh - 18vh) }

  .modal-height { max-height: calc(100vh - 160px) }

  select { @apply py-1 pr-10 pl-2 }
  input[type="search"], input[type="date"] { @apply py-1 }
}

@layer components {
  .scroller {
    scrollbar-width: thin;
  }

  .wrapper {
    @apply px-2 max-w-7xl mx-auto;
  }

  .wrapper:not(:last-child) {
    @apply mb-4;
  }


  .btn {
    @apply inline-block font-semibold py-2 px-4;
  }

  .btn-primary {
    @apply bg-indigo-700 text-white;
  }

  .title { @apply text-2xl text-title }

  .subtitle { @apply text-base text-subtitle }

  .tags {
    @apply items-center flex flex-wrap justify-start gap-2
  }

  .tag {
    @apply text-xs mb-2 text-gray-600 bg-gray-100 py-1 px-2 rounded shadow-sm
  }

  .tabs {
    @apply mb-2 cursor-pointer flex items-stretch justify-between overflow-hidden overflow-x-auto whitespace-nowrap;
    ul { @apply flex items-center flex-grow flex-shrink-0 justify-start border-gray-200 border-b; }
    li a {
      @apply flex text-base py-2 px-4 items-center justify-center -mb-px border-b;
    }
    a:hover {
      @apply text-base text-red-600 border-red-600 border-b -mb-px;
    }
    li.is-active a {
      @apply text-base flex py-2 px-4 items-center justify-center -mb-px text-red-600 border-b border-red-600;
    }
  }

  .table {
    @apply text-title divide-y divide-solid divide-gray-300;
    th {
      @apply px-2 py-1 font-semibold align-top cursor-pointer;
    }
    tbody {
      tr:nth-child(even) { @apply bg-highlight; }
      tr { @apply align-top hover:bg-gray-200}
      td { @apply px-2 md:py-1 border-b border-gray-300; }
      tr:last-child {
        td { @apply border-0 }
      }
    }
  }
}
